*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../img/fundo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

h1, h2{
    width: 100%;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 5ch;
    font-weight: 200;
    letter-spacing: .3rem;
}

.wrap-cards{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.card-body{
    background-color: #6a0202;
    color: antiquewhite;
    font-family: "DM Serif Display", serif;
}

.card{
    border-color: #480000 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 250ms ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 30;
}

.hidden {
    display: none !important;
}

@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap ;
    }
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btn-danger{
    background-color: #9e0303;
    padding: .5rem;
    align-items: center;
    border: none;  
    font-family: "DM Serif Display", serif;
}

.btn-danger:hover{
    background-color: #bd0303;
}

.btn-outline-danger{
    background-color: #cc2f2f;
    color: antiquewhite;
    padding: 0.5rem;
    gap: 2rem;
}

.btn-group{
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
}

header{
    display: flex;
    width: 100vw;
    height: 3.5rem;
    background-color: #9a0404;
    position: fixed;
    z-index: 999;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    font-family: "DM Serif Display", serif;
    padding-right: 3rem;
    padding-left: 3rem;
}

#header-margin {
    height:4.5rem;
}

#logo-header {
    height: 4rem;
    width: 4rem;
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
}

#cardapio-titulo {
    color:white;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.item-price {
    background-color:#830000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-card {
    margin: 0 !important;
    width: 100%;
}