*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../img/fundo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #711d059f; */
    height: 100vh;
    width: 100vw;
}

h1, h2{
    width: 100%;
    text-align: center;
}

.wrap-cards{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    display: none !important;
}

@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap ;
    }
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* background-color: #711d059f; */
}

.btn-danger{
    background-color: #f07452 !important;
    padding: .5rem;
    align-items: center;
    border: none;
    
}

.btn-outline-danger{
    background-color: #f07452;
    color: antiquewhite;
    padding: 0.5rem;
    gap: 2rem;
    transition: all .3s ease-in-out;
}

.btn-outline-danger:hover {
    background-color:#f7582c !important;
    border-color:rgb(255, 0, 0) !important;

}

.btn-outline-danger:checked {
    background-color: blue !important;
}

.btn-group{
    margin-left: 2rem;
    background-color: #711d059f;
    width: fit-content;
    height: fit-content;
}

header{
    display: flex;
    width: 100vw;
    height: 3.5rem;
    background-color: #f07452;
    position: fixed;
    z-index: 999;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

#header-margin {
    height:4.5rem;
}

#logo-header {
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: .5rem;
    left: 50vw;
    transform: translateX(-50%);
}

#cardapio-titulo {
    color:white;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}